@import "~font-awesome/css/font-awesome.css";
@import "~skeleton-css/css/skeleton.css";

/**
 * Colors:
 *
 * Main accent: #006494
 * Background: #b0dfef
 * White: #fffeff
 * Dark Text: #7c7c7c
 * Lighter Dark Text: #a8a8a8
 * Light Text: #cdcdcd
 * Errors: #bc2700 & #ea7d00
 */

body {
  background-color: #fffeff;
  color: #7c7c7c;
  margin: 0;
}

/* Restore body margin to the rest of the elements we use  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 8px;
}

/* Pomodoro timer styling */
.timer {
  color: #006494;
  text-align: center;
  font-weight: bold;
}

.break {
  color: #00863a;
}

h1.timer {
  font-size: 5rem;
}

@media (min-width: 550px) {
  h1.timer {
    font-size: 6rem;
  }
}

/* Thanks bootstrap */
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

button.button-primary {
  background-color: #b0dfef;
  color: #fffeff;
  border-color: #b0dfef;
  border-radius: 0;
}

button.button-primary:hover,
button.button-primary:focus {
  background-color: #caf9ff;
  border-color: #caf9ff;
}

/* Full line input  */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  background-color: rgba(0, 100, 148, 0.05);
  border-top: 2px solid rgba(0, 100, 148, 0.2);
  border-bottom: 2px solid rgba(0, 100, 148, 0.2);
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;
  border-radius: 0;
}

/* These override chromium's default focus styling */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-top: 2px solid rgba(0, 100, 148, 0.4);
  border-bottom: 2px solid rgba(0, 100, 148, 0.4);
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #a8a8a8;
}

.pomodoro-placerholder {
  margin: 1em;
}

/**
 * Active and inactive divs
 */
.tasks {
  padding: 0.7em;
  margin-top: 2em;
}

.active-tasks:not(:empty) {
  background-color: #006494;
  border-top: 2px solid rgba(176, 223, 239, 0.4);
  border-bottom: 2px solid rgba(176, 223, 239, 0.4);
  color: #cdcdcd;
}

span.task-active-name {
  font-weight: 500;
}

span.task-name {
  font-weight: 500;
}

.task-bottom-pad:not(:last-child) {
  margin-bottom: 1em;
}

.pad-task {
  padding-right: 1em;
}

span.task-active-stopped {
  color: #ea7d00;
}

span.task-stopped {
  color: #bc2700;
}

span > i.fa {
  padding-right: 0.5em;
}

i.fa.success {
  color: #b0dfef;
}

i.fa.success:hover {
  color: #caf9ff;
  text-shadow: 1px 1px 3px black;
}

i.fa.danger {
  color: #bc2700;
}

i.fa.danger:hover {
  color: #d6411a;
  text-shadow: 1px 1px 3px black;
}
